/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center
}

nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 4px;
}

nav a.active {
  background-color: #555;
}

ul {
  width: 1600px;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0 auto;
  gap: 10px;


}

